<div class="dashboard-container">
    <div class="row">
        <div class="col-md-3 side-bar">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-9 right-content">
            <!-- Right Panel -->
            <div id="right-panel" class="right-panel">
                <app-navbar></app-navbar>
                <app-breadcrumbs></app-breadcrumbs>
                <div class="container">
                    <a href='#'  class='btn btn-primary print-botton'><i class="fas fa-print"></i>Print</a>
                    <app-event-log-search></app-event-log-search>
                    <div class="vol-rep-table">
                        <div class="table-responsive">
                            <table class="main-table mange-member table table-bordered text-center" BORDERCOLOR=RED>
                                <tr>
                                    <td class="name">Name</td>
                                    <td class="operation">Operation Name</td>
                                    <td class="date">Date & Time</td>
                                    <td class="role">Role</td>
                                   
                                </tr>
                                   <tr>
                                        <td>
                                            
                                            <h4 class="h4-intable">Ahmed Hashem Saleh</h4>
                                            
                                        </td>
                                        <td>
                                            <span>Login</span>
                                        </td>
                                        <td>
                                            <span>01-11-2020 02:30:45</span>
                                        </td>
                                        <td>
                                            <span>Country Supervisor</span>
                                        </td>
                                  </tr>		
                            </table>
                        </div>
                        <a href="#" class='btn btn-primary exbut'><i class="fas fa-download"></i>Export</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





