<div class="row">
    <div class="col-sm-6 col-lg-3">
        <div class="stat st-message">
            <i class="fas fa-envelope"></i>
            <div class="info">
                Received Message
                <span><a href="#">200</a></span>
            </div>
        </div>
    </div>
    <!--/.col-->

    <div class="col-sm-6 col-lg-3">
        <div class="stat st-place">
            <i class="fas fa-map-marker-alt"></i>
            <div class="info">
                Work Places
                <span><a href="#">200</a></span>
            </div>
        </div>
    </div>
    <!--/.col-->

    <div class="col-sm-6 col-lg-3">
        <div class="stat st-city">
            <i class="fas fa-city"></i>
            <div class="info">
                Countries & Cites
                <span><a href="#">200</a></span>
            </div>
        </div>
    </div>
    <!--/.col-->

    <div class="col-sm-6 col-lg-3">
        <div class="stat st-v-report">
            <i class="fas fa-comments"></i>
            <div class="info">
                Volunteers Report
                <span><a href="#">200</a></span>
            </div>
        </div>
    </div>
    <!--/.col-->
</div>
<div class="row">
    <div class="col-sm-6 col-lg-3">
        <div class="stat st-member">
            <i class="fas fa-users"></i>
            <div class="info">
                Members
                <span><a href="#">200</a></span>
            </div>
        </div>
    </div>
    <!--/.col-->

    <div class="col-sm-6 col-lg-3">
        <div class="stat st-setings">
            <i class="fas fa-cogs"></i>
            <div class="info">
                General Settings
                <span><a href="#">200</a></span>
            </div>
        </div>
    </div>
    <!--/.col-->

    <div class="col-sm-6 col-lg-3">
        <div class="stat st-customer">
            <i class="fa fa-users"></i>
            <div class="info">
                Customers
                <span><a href="#">200</a></span>
            </div>
        </div>
    </div>
    <!--/.col-->

    <div class="col-sm-6 col-lg-3">
        <div class="stat st-page">
            <i class="fas fa-solar-panel"></i>
            <div class="info">
                Site Pages
                <span><a href="#">200</a></span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
        <div class="stat st-banar">
            <i class="far fa-images"></i>
            <div class="info">
                Ads Banars
                <span><a href="#">200</a></span>
            </div>
        </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-3">
        <div class="stat st-report">
            <i class="fas fa-comment-dots"></i>
            <div class="info">
                Reports
                <span><a href="#">200</a></span>
            </div>
        </div>
    </div>
<!--/.col-->
</div>