<div class="dashboard-container">
    <div class="row">
        <div class="col-md-3 side-bar">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-9 right-content">
            <!-- Right Panel -->
            <div id="right-panel" class="right-panel">
                <app-navbar></app-navbar>
                <app-breadcrumbs></app-breadcrumbs>
                <div class="container">
                    <a href='#'  class='btn btn-primary print-botton'><i class="fas fa-print"></i>Print</a>
                    <app-att-person-search></app-att-person-search>
                    <div class="vol-rep-table">
                        <div class="table-responsive">
                            <table class="main-table mange-member table table-bordered text-center" BORDERCOLOR=RED>
                                <tr>
                                    <td class="name">Name</td>
                                    <td class="phone">Phone</td>
                                    <td class="email">Email</td>
                                    <td class="country" *ngIf="OrgAdmins">Country</td>
                                    <td class="city">City</td>
                                    <td class="present">Present</td>
                                    <td class="absent">Absent</td>
                                    <td class="hours">Hours</td>
                                </tr>
                                   <tr>
                                        <td>  
                                            <h4 class="h4-intable">Ahmed Hashem Saleh</h4>
                                            
                                        </td>
                                        <td>
                                            <span>0501404662</span>
                                        </td>
                                        <td>
                                            <span>ahmedhashem.ah988@gmail.com</span>
                                        </td>
                                        <td *ngIf="OrgAdmins">
                                            <span>United Arab Emirates</span>
                                        </td>
                                        <td>
                                            <span>Dubi</span>
                                        </td>
                                        <td>
                                            <span>20</span>
                                        </td>
                                        <td>
                                            <span>10</span>
                                        </td>
                                        <td>
                                            <span>20</span>
                                        </td>
                                  </tr>		
                            </table>
                        </div>
                        <a href="#" class='btn btn-primary exbut'><i class="fas fa-download"></i>Export</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





