<div class="dashboard-container">
    <div class="row">
        <div class="col-md-3 side-bar">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-9 right-content">
            <!-- Right Panel -->
            <div id="right-panel" class="right-panel">
                <app-navbar></app-navbar>
                <app-breadcrumbs></app-breadcrumbs>
                <div class="container">
                    <a href='#' routerLink='/AddNewUser' class='btn btn-primary top-add-button'><i class="fas fa-plus"></i>Add a New User</a>
                    <div class="table-responsive">
                        <table class="main-table mange-member table table-bordered text-center" BORDERCOLOR=RED>
                            <tr>
                                <td class="check"><input type="checkbox"></td>
                                <td class="username">User Name</td>
                                <td class="last">Last Seen</td>
                                <td class="fullname">Full Name</td>
                                <td class="type">User Type</td>
                                <td class="status">Status</td>
                                <td class="option">Options</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>
                                    <h4 class="h4-intable">Ahmed Saleh</h4>
                                </td>
                                <td>
                                    <span>Since 2 Hours</span>
                                </td>
                                <td>
                                    <span>Ahmed Hashem Saleh</span>
                                </td>
                               
                                <td>
                                    <span class="type-button"><i class="fas fa-user-tie"></i>City Supervisor</span>
                                </td>
                                <td>
                                    <span class="status-button"><i class="fas fa-times"></i>Desabled</span>
                                </td>
                                <td>
                                    <div class="row ed-option">
                                        <a href="#" routerLink='/EditAdminsUser' class="edit-option">
                                            <i class="far fa-edit"></i>Edit
                                        </a>
                                        <a href="#"  class="delete-option">
                                            <i class="far fa-trash-alt"></i>Delete
                                        </a>
                                    </div>
                                    <div class="row a-option">
                                        <a href="#"  class="active-option">
                                            <i class="fas fa-check"></i>Activate
                                        </a>
                                    </div> 
                                </td>
                          </tr>
                        </table>
                    </div>
                    <a href='#' class='btn btn-primary activate'><i class="fas fa-check"></i>Activate</a>
                    <a href='#' class='btn btn-primary disactivate'><i class="fas fa-times"></i>Deny</a>
                    <a href='#' class='btn btn-primary delete'><i class="far fa-trash-alt"></i>Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>





