<div class="intro-page">
    <img src="../../../assets/images/introbg.jpg" alt="background">
    <div class="cover"></div>
    <div class="logo">
        <img src="../../../assets/images/logoo.png" alt="logo">
    </div>
    <div class='nice-message'>Please Choose Your Country..</div>
    <div class="part1 main-part">
        <div class="content">
            <img src="../../../assets/images/uaeflag.jpg"  alt="Uae Flag">
            <a href="#" routerLink='/Home'><h3>United Arab Emirates</h3></a>
            <i class="fas fa-home"></i>
        </div>
    </div>
    
    <div class="part2 parts">
        <div class="content">
            <img src="../../../assets/images/saudi-arabian-flag.jpg" alt="Saudi Flag">
            <a href="#" routerLink='/Home'><h3>Saudi Arabia</h3></a>
            <i class="fas fa-bookmark"></i>
        </div>
    </div>
    
    <div class="part3 parts">
        <div class="content">
            <img src="../../../assets/images/bahrinflag.png" alt="Bahrain Flag">
            <a href="#" routerLink='/Home'><h3>Bahrain</h3></a>
            <i class="fas fa-bookmark"></i>
        </div>
    </div>
    
    <div class="part4 parts">
        <div class="content">
            <img src="../../../assets/images/kuwait.jpg" alt="Kuwait Flag">
            <a href="#" routerLink='/Home'><h3>Kuwait</h3></a>
            <i class="fas fa-bookmark"></i>
        </div>
    </div>
   
    <div class="part5 parts">
        <div class="content">
            <img src="../../../assets/images/omanflag.jpg" alt="Oman Flag">
            <a href="#" routerLink='/Home'><h3>Oman</h3></a>
            <i class="fas fa-bookmark"></i>
        </div>
    </div>
    
    <div class="part6 parts">
        <div class="content">
            <img src="../../../assets/images/jordanflag.jpg" alt="Jordan Flag">
            <a href="#" routerLink='/Home'><h3>Jordan</h3></a>
            <i class="fas fa-bookmark"></i>
        </div>
    </div>
   
    <div class="part7 parts">
        <div class="content">
            <img src="../../../assets/images/egyptflag.jpg" alt="Egypt Flag">
            <a href="#" routerLink='/Home'><h3>Egypt</h3></a>
            <i class="fas fa-bookmark"></i>
        </div>
    </div>
   
  
   
</div>
