<app-upperbar></app-upperbar>
<app-u-navbar></app-u-navbar>


<!--start banners-->
<div class="home-image">
    <img src="../../../assets/images/homeimage.png" alt="Home Image">
</div>
<!--end banners-->

<!--start about-->
<div class="about text-center">
    <div class="container">
      <h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-offset="350">ABOUT US</h1>
      <hr  class="wow zoomIn" data-wow-delay="0.5s" data-wow-offset="280">
      <p class="lead wow fadeInDown" data-wow-duration="1s" data-wow-offset="220">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
      <button type="submit" class="btn btn-primary wow rollIn hvr-box-shadow-outset" data-wow-offset="100" routerLink='/About'> Read More</button>
    </div>
  </div>
  <!--end about-->

  <!--start our sponsers-->
  <div class="our-sponsers">
    <h1>OUR SPONSERS</h1>
    <hr  class="wow zoomIn" data-wow-delay="0.5s" data-wow-offset="280">
      <!--start multi carousel-->
    <div class="container-fluid mt-5">
        <!-- Grid row -->
        <div class="row">
        <!-- Grid column -->
        <div class="col-md-12 mb-4 carousel-parent">
            <div class="contain text-center my-3">
            
            <div class="row mx-auto my-auto">
                <div id="recipeCarousel2" class="carousel slide w-100 " data-ride="carousel">
                <div class="carousel-inner w-100 vv-3" role="listbox">
                    <div class="carousel-item active">
                    <div class="col-2 son">
                        <img class="d-block img-fluid"
                        src="../../../assets/images/s1.png">
                    </div>
                    </div>
                    <div class="carousel-item">
                    <div class="col-2 son">
                        <img class="d-block img-fluid"
                        src="../../../assets/images/s2.jpg">
                    </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-2 son">
                            <img class="d-block img-fluid"
                            src="../../../assets/images/s3.png">
                        </div>
                        </div>
                    <div class="carousel-item">
                    <div class="col-2 son">
                        <img class="d-block img-fluid"
                        src="../../../assets/images/s4.svg">
                    </div>
                    </div>
                    <div class="carousel-item">
                    <div class="col-2 son">
                        <img class="d-block img-fluid"
                        src="../../../assets/images/s1.png">
                    </div>
                    </div>
                    <div class="carousel-item">
                    <div class="col-2 son">
                        <img class="d-block img-fluid"
                        src="../../../assets/images/s2.jpg">
                    </div>
                    </div>
                    <div class="carousel-item">
                    <div class="col-2 son">
                        <img class="d-block img-fluid"
                        src="../../../assets/images/s3.png">
                    </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#recipeCarousel2" role="button" data-slide="prev">
                    <i class="fas fa-chevron-left"></i>
                </a>
                <a class="carousel-control-next" href="#recipeCarousel2" role="button" data-slide="next">
                    <i class="fas fa-chevron-right"></i>
                </a>
                </div>
            </div>
            </div>
    
        </div>
        <!-- Grid column -->
    
        </div>
        <!-- Grid row -->
        
    </div>
    <!--end multi carosel-->

  </div>
  <!--end our sponsers-->

  <!--start footer-->
  <app-footer></app-footer>
  <!--end footer-->
  <!--strat copyright-->
  <app-u-copyright></app-u-copyright>
  <!--end copyright-->
