<div class="search">
    <form>
        <div>
            <span>
                <input 
                    style="width: 160px;height: 31px;margin-bottom: 5px;font-size: 14px;" 
                    type="date" 
                    [(ngModel)] = "SitVisSearchResult.Date" 
                    name="Date" 
                    placeholder="Select Date" 
                    class="input-small search-input">
            </span>
            <button  type="submit" class="btn search-button"  (click)="showww()">Show</button>
        </div>
    </form>
</div>