@import "../add-new-location/add-new-location.component.scss";

.container{
    .card{
        .card-body{
            .table{
                tr{
                    .data{
                        select{
                            width: 64%;
                            option{

                            }
                        }
                      

                        .select-place-type-group{
                            margin-bottom: 0;
                
                            .place-type{
                                display: inline-block;
                                width: 25%;
                            }
                            .Volhours{
                                display: none;
                                width: 60%;
                                margin-left: 100px;
                                label{
                                    margin-right: 10px;
                                }
                                .hours-no{
                                    width: 25%;
                                    height: 35px;
                                   display: inline-block;
                                }
                            }
                        }
                        .requiredPerson{
                            width: 21%;
                            height: 30px;
                            font-size: 14px;
                            &::placeholder{
                                font-size: 14px;
                            }
                        }
                        .allowed{
                            label{
                                margin-right: 24px;
                                margin-left: 2px;
                                font-weight: 500;
                            }
                          }
                    }
                }
            }
        } 
    }

}