<!--Start navbar-->
<div class="navbar-contain">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" routerLink='/Home'>
          <img src="../../../assets/images/logoo.png" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink='/Home'>Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/About'>About</a>
            </li>
          </ul>
           
        </div>
        <div class="social">
            <a href="#">
                <i class="fab fa-twitter"></i>
            </a>  
            
            <a href="#">
                <i class="fab fa-snapchat-ghost"></i>
            </a>  
            <a href="#">
                <i class="fab fa-instagram"></i>
            </a>  
            <a href="#">
                <i class="fab fa-whatsapp"></i>
            </a>    
        </div>
      </nav>
    </div>
  </div>