<div class="dashboard-container">
    <div class="row">
        <div class="col-md-3 side-bar">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-9 right-content">
            <!-- Right Panel -->
            <div id="right-panel" class="right-panel">
                <app-navbar></app-navbar>
                <app-breadcrumbs></app-breadcrumbs>
                <div class="container">
                    <div class="table-responsive">
                        <table class="main-table mange-member table table-bordered text-center" BORDERCOLOR=RED>
                            <tr>
                                <td class="name">Page Name</td>
                                <td class="vistors">Vistors</td>
                                <td class="option">Options</td>
                            </tr>
                            <tr>
                                <td>
                                    <h4 class="h4-intable">Home Page</h4>
                                </td>
                                <td>
                                    <span>455</span>
                                </td>
                                <td>
                                    <a href="#" routerLink='/EditHomePage' class="edit-option">
                                        <i class="far fa-edit"></i>Edit
                                    </a> 
                                </td>
                            </tr>	
                            <tr>
                                <td>
                                    <h4 class="h4-intable">About Page</h4>
                                </td>
                                <td>
                                    <span>600</span>
                                </td>
                                <td>
                                    <a href="#" routerLink='/EditAboutPage' class="edit-option">
                                        <i class="far fa-edit"></i>Edit
                                    </a> 
                                </td>
                            </tr>	
                            <tr>
                                <td>
                                    <h4 class="h4-intable">Terms and Conditions</h4>
                                </td>
                                <td>
                                    
                                </td>
                                <td>
                                    <a href="#" routerLink='/EditTerms' class="edit-option">
                                        <i class="far fa-edit"></i>Edit
                                    </a> 
                                </td>
                            </tr>	
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





