<div class="dashboard-container">
    <div class="row">
        <div class="col-md-3 side-bar">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-9 right-content">
            <!-- Right Panel -->
            <div id="right-panel" class="right-panel">
                <app-navbar></app-navbar>
                <app-breadcrumbs></app-breadcrumbs>
                <div class="container">
                    <div class="card text-center">
                        <div class="card-header">
                          <h3>OPEN / CLOSE SITE</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <tr>
                                    <td class="title">Site Status</td>
                                    <td class="data">
                                        <div class="gender">
                                            <input  
                                                type="radio" 
                                                id="open" 
                                                name="SiteStatus" 
                                                value="open" 
                                                (change)="radioSiteStatusChangeHandeler($event)">
                                            <label for="open">open</label>
                                            <input  
                                                type="radio" 
                                                id="close" 
                                                name="SiteStatus" 
                                                value="close" 
                                                (change)="radioSiteStatusChangeHandeler($event)">
                                            <label for="close">close</label> 
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                
                                    <td class="title">Closed Message</td>
                                    <td class="data">
                                        <!-- full name in inglish-->
                                        <img class="for-defintion-en" src="../../../assets/images/englishflag.png" width="45px" height="30px">
                                        <div class="guide-en-message">Enter Message In English</div>
                                        <div class="fullname">
                                           <textarea 
                                                class="form-control" 
                                                name="MessageEn"  
                                                [(ngModel)] = "OpenCloseSite.MessageEn"
                                                placeholder="Enter Message In English">
                                            </textarea>
                                        </div>
                                        <!--full name in arabic-->
                                        <img class="for-defintion-ar" src="../../../assets/images/Arabic-Language-Flag.svg" width="45px" height="30px">
                                        <div class="guide-ar-message">Enter Message In Arabic</div>
                                        <div class="fullname">
                                            <textarea 
                                                class="form-control" 
                                                name="MessageAr"  
                                                [(ngModel)] = "OpenCloseSite.MessageAr"
                                                placeholder="Enter Message In Arabic">
                                            </textarea>
                                        </div>  
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-footer text-muted">
                            <button class='btn btn-primary save-button' (click)="showww()"><i class="far fa-save"></i>Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





