<div class="dashboard-container">
    <div class="row">
        <div class="col-md-3 side-bar">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-9 right-content">
            <!-- Right Panel -->
            <div id="right-panel" class="right-panel">
                <app-navbar></app-navbar>
                <app-breadcrumbs></app-breadcrumbs>
                <div class="container">
                    <div class="card text-center">
                        <div class="card-header">
                          <h3>EDIT MY PROFILE</h3>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <tr>
                                    <td class="title">User Name</td>
                                    <td class="data">
                                        <!-- full name in inglish-->
                                        <img class="for-defintion-en" src="../../../assets/images/englishflag.png" width="45px" height="30px">
                                        <div class="guide-en-message">Enter User Name In English</div>
                                        <form class="fullname">
                                            <input type="text" name="username-en" class="form-control" placeholder="Enter User Name In English">
                                        </form>
                                        <!--full name in arabic-->
                                        <img class="for-defintion-ar" src="../../../assets/images/Arabic-Language-Flag.svg" width="45px" height="30px">
                                        <div class="guide-ar-message">Enter Full Name In Arabic</div>
                                        <form class="fullname">
                                            <input type="text" name="username-ar" class="form-control" placeholder="Enter User Name In Arabic"> 
                                        </form>  
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title">Password</td>
                                    <td class="data">
                                        <form>
                                            <input type="password" class="form-control password" name="password" placeholder="Enter The Password">
                                            <i class="show-pass fa fa-eye fa-2x"></i>
                                        </form>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title">Full Name</td>
                                    <td class="data">
                                        <!-- full name in inglish-->
                                        <img class="for-defintion-en" src="../../../assets/images/englishflag.png" width="45px" height="30px">
                                        <div class="guide-en-message">Enter Full Name In English</div>
                                        <form class="fullname">
                                            <div class="row">
                                                <div class="col section">
                                                    <input type="text" name="first-name-en" class="form-control" placeholder="First name">
                                                </div>
                                                <div class="col section">
                                                    <input type="text" name="second-name-en" class="form-control" placeholder="Second name">
                                                </div>
                                                <div class="col section">
                                                    <input type="text" name="third-name-en" class="form-control" placeholder="Third name">
                                                </div>
                                                <div class="col section">
                                                    <input type="text" name="last-name-en" class="form-control" placeholder="Last name">
                                                </div>
                                            </div>
                                        </form>
                                        <!--full name in arabic-->
                                        <img class="for-defintion-ar" src="../../../assets/images/Arabic-Language-Flag.svg" width="45px" height="30px">
                                        <div class="guide-ar-message">Enter Full Name In Arabic</div>
                                        <form class="fullname">
                                            <div class="row">
                                                <div class="col section">
                                                    <input type="text" name="first-name-ar" class="form-control" placeholder="First name">
                                                </div>
                                                <div class="col section">
                                                    <input type="text" name="second-name-ar" class="form-control" placeholder="Second name">
                                                </div>
                                                <div class="col section">
                                                    <input type="text" name="third-name-ar" class="form-control" placeholder="Third name">
                                                </div>
                                                <div class="col section">
                                                    <input type="text" name="last-name-ar" class="form-control" placeholder="Last name">
                                                </div>
                                            </div>
                                        </form>  
                                    </td>
                                </tr>
                                <tr>
                                    <td class="title">Email</td>
                                    <td class="data">
                                        <input type="email" class="form-control email" name="email" placeholder="Enter Email">
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-footer text-muted">
                            <a href="#" class='btn btn-primary save-button'><i class="far fa-save"></i>Save</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





