<app-upperbar></app-upperbar>
<app-u-navbar></app-u-navbar>


<!--start head-->
<div class="head text-center">
    <div class="container">
      <h1 class="h1 wow rotateIn" data-wow-delay="0.5s">ABOUT RAMADAN AMAN</h1>
      <hr class="wow rotateInUpLeft" data-wow-delay="1s">
      <p class="lead wow fadeInLeft" data-wow-delay="1.5s" data-wow-duration="1.5s" >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
     
    </div>
  </div>
  <!--end head-->
  
  <!--start photo-->
  <div class="BC">
    <div class="container">
      <div class="photo">
        <img src="../../../assets/images/aboutBG.jpg" alt="background image">
      </div>
    </div>
  </div>
  <!--end photo-->
  
  <!--start opinion-->
  <div class="opinion">
      <div class="container">
          <div class="row">
            <div class="col">
                <div class="A">
                    <div class="card text-center">
                        <div class="card-header">
                            <h3>OUR VISSION</h3>
                        </div>
                        <div class="card-body max">
                            <ul class="list-unstyled"> 
                                <li> 
                                    <i class="fas fa-chevron-circle-right"></i>
                                    <span>Professionalism: Paying attention to the human element and raising its scientific and practical competence</span>
                                </li>
                                <li> 
                                    <i class="fas fa-chevron-circle-right"></i>
                                    <span>Credibility: focus on clarity of procedures and transparency of dealing with the customer.</span>
                                </li>
                                <li> 
                                    <i class="fas fa-chevron-circle-right"></i>
                                    <span>Responsibility: Be responsible, to raise the efficiency of the human element.</span>
                                </li>
                                <li> 
                                    <i class="fas fa-chevron-circle-right"></i>
                                    <span>Creativity and excellence: working to create human energies that contribute to development and institutional competition.</span>
                                </li>
                                <li> 
                                    <i class="fas fa-chevron-circle-right"></i>
                                    <span>Innovation: We are designing and developing our programs in line with our customers' expectations</span>
                                </li>
                            </ul>
                           
                        </div>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="B">
                    <div class="card text-center">
                        <div class="card-header">
                            <h3>OUR MESSAGE</h3>
                        </div>
                        <div class="card-body min">
                            <ul class="list-unstyled"> 
                                <li> 
                                    <i class="fas fa-chevron-circle-right"></i>
                                    <p> Our qualified team works to develop modern managerial and technical competencies for individuals, groups and institutions in various regions of the world through distance learning and the use of the latest technical programs available within a framework of high efficiency in investing time and resources available to our customers.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="C">
                    <div class="card text-center">
                        <div class="card-header">
                            <h3>OUR VALUABLE</h3>
                        </div>
                        <div class="card-body max">
                            <ul class="list-unstyled"> 
                                <li> 
                                    <i class="fas fa-chevron-circle-right"></i>
                                    <span>Professionalism: Paying attention to the human element and raising its scientific and practical competence</span>
                                </li>
                                <li> 
                                    <i class="fas fa-chevron-circle-right"></i>
                                    <span>Credibility: focus on clarity of procedures and transparency of dealing with the customer.</span>
                                </li>
                                <li> 
                                    <i class="fas fa-chevron-circle-right"></i>
                                    <span>Responsibility: Be responsible, to raise the efficiency of the human element.</span>
                                </li>
                                <li> 
                                    <i class="fas fa-chevron-circle-right"></i>
                                    <span>Creativity and excellence: working to create human energies that contribute to development and institutional competition.</span>
                                </li>
                                <li> 
                                    <i class="fas fa-chevron-circle-right"></i>
                                    <span>Innovation: We are designing and developing our programs in line with our customers' expectations</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="D">
                    <div class="card text-center">
                        <div class="card-header">
                            <h3>OUR GOOLS</h3>
                        </div>
                        <div class="card-body min">
                            <ul class="list-unstyled"> 
                                <li> 
                                    <i class="fas fa-chevron-circle-right"></i>
                                    <span>Raising the level of productivity and efficiency of institutional performance.</span>
                                </li>
                                <li> 
                                    <i class="fas fa-chevron-circle-right"></i>
                                    <span>Developing the capabilities of human talents.</span>
                                </li>
                                <li> 
                                    <i class="fas fa-chevron-circle-right"></i>
                                    <span>Reducing the cost of training courses.</span>
                                </li>
                                <li> 
                                    <i class="fas fa-chevron-circle-right"></i>
                                    <span>Optimization of technology.</span>
                                </li>
                                <li> 
                                    <i class="fas fa-chevron-circle-right"></i>
                                    <span>Innovation: We are designing and developing our programs in line with our customers' expectations</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        
            
      </div>
  </div>
  <!--end opinion-->

  <!--start footer-->
  <app-footer></app-footer>
  <!--end footer-->

  <!--strat copyright-->
  <app-u-copyright></app-u-copyright>
  <!--end copyright-->
  