<div class="dashboard-container">
    <div class="row">
        <div class="col-md-3 side-bar">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-9 right-content">
            <!-- Right Panel -->
            <div id="right-panel" class="right-panel">
                <app-navbar></app-navbar>
                <app-breadcrumbs></app-breadcrumbs>



               

                
                <div class="container">
                    <div class="content mt-3">
                        <div class="tabs">
                            <app-tabs></app-tabs>
                        </div>
                        <div class="daigrams">
                            <div class="row">
                            
                                <div class="col-xl-6">
                                    <app-gmap></app-gmap>
                                </div>
                                <div class="col-xl-6">
                                    <app-chart></app-chart>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div> <!-- .content -->
                </div>


            </div><!-- /#right-panel -->

            <!-- Right Panel -->
        </div>
    </div>
</div>





