<!--start footer-->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-12 bigger">
                <a class="logo" routerLink='/Home'>
                    <img src="../../../assets/images/logoo.png" alt="logo">
                </a>
                <p class="lead">Our qualified team works to develop modern administrative and technical competencies for individuals, groups and institutions in various regions of the world through distance learning and the use of the latest technical programs available within a framework of high efficiency in investing time and resources available to our customers.</p>
                <div class="social">
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>  
                    <a href="#">
                        <i class="fab fa-snapchat-ghost"></i>
                    </a>  
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>  
                    <a href="#">
                        <i class="fab fa-whatsapp"></i>
                    </a>    
                </div>
            </div>
            <div class="col-lg-2 col-sm-3 values">
                <h3>Our Values</h3>
                <hr>
                <ul class="list-unstyled">
                    <li><i class="fas fa-chevron-right"></i>Professional</li>
                    <li><i class="fas fa-chevron-right"></i>Credibility</li>
                    <li><i class="fas fa-chevron-right"></i>Responsibility</li>
                    <li><i class="fas fa-chevron-right"></i>Creativity</li>
                    <li><i class="fas fa-chevron-right"></i>Renewal</li>
                </ul>
            </div>
            <div class="col-lg-2 col-sm-3 gools">
                <h3>Our Gools</h3>
                <hr>
                <ul class="list-unstyled">
                    <li><i class="fas fa-chevron-right"></i>Raising the level</li>
                    <li><i class="fas fa-chevron-right"></i>Efficient performance</li>
                    <li><i class="fas fa-chevron-right"></i>Capacity Development</li>
                    <li><i class="fas fa-chevron-right"></i>Reducing the cost</li>
                    <li><i class="fas fa-chevron-right"></i>Optimization of benefit</li>
                </ul>
            </div>
            <div class="col-lg-4 col-sm-6 countries">
                <h3>Countries</h3>
                <hr>
                <div class="row">
                    <div class="col first">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">
                                    <img src="../../../assets/images/Arabic-Language-Flag.svg">United Arab Emirates
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../../assets/images/Arabic-Language-Flag.svg">United Arab Emirates
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../../assets/images/Arabic-Language-Flag.svg">United Arab Emirates
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../../assets/images/Arabic-Language-Flag.svg">United Arab Emirates
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col second">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#">
                                    <img src="../../../assets/images/Arabic-Language-Flag.svg">United Arab Emirates
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../../assets/images/Arabic-Language-Flag.svg">United Arab Emirates
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../../assets/images/Arabic-Language-Flag.svg">United Arab Emirates
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../../assets/images/Arabic-Language-Flag.svg">United Arab Emirates
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
               
            </div>
        </div>
    </div>  
</div>
  <!--end footer-->