<div class="login-admin">
    <div class="container">
        <div class="Login-error">
            Username Not Exist
        </div>
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header text-center">
                    <i class="fas fa-user-lock"></i>
                    <h3>Sign In</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="username">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </label>
                            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required">Username is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </label>
                            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                            </div>
                        </div>
                        <div class="row align-items-center remember">
                            <input type="checkbox">Remember Me
                        </div>
                        <div class="form-group">
                            <button [disabled]="loading" class="btn btn-primary login_btn">Login
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            </button>
                            
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <a href="#">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>    
</div>






<!-- <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
                        <div class="input-group form-group">
                            <label for="username">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </label>
                            <input 
                                type="text" 
                                formControlName="username" 
                                class="form-control" 
                                [ngClass]="{ 'is-invalid': submitted && fval.username.errors }" 
                                placeholder="Enter Username here"/>
                            <div *ngIf="submitted && fval.username.errors" class="invalid-feedback">
                                <div *ngIf="fval.username.errors.required">Username is required</div>
                            </div>                            
                        </div>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.username.errors }" placeholder="Enter Username here"/>
                            <div *ngIf="submitted && fval.username.errors" class="invalid-feedback">
                                <div *ngIf="fval.username.errors.required">Username is required</div>
                            </div>
                        </div>



                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input 
                                type="password"
                                class="form-control"
                                name="password"
                                [(ngModel)] = "AdminLogInfo.password" 
                                placeholder="Password"
                                autocomplete="new-password"
                                required>  
                        </div>
                        <div class="row align-items-center remember">
                            <input type="checkbox">Remember Me
                        </div>
                        <div class="form-group">
                            <button
                                class="btn btn-primary btn-sm login_btn" (click)="SendAdminInfo(log)">Login</button>
                        </div>
                    </form> -->










