<div class="dashboard-container">
    <div class="row">
        <div class="col-md-3 side-bar">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-9 right-content">
            <!-- Right Panel -->
            <div id="right-panel" class="right-panel">
                <app-navbar></app-navbar>
                <app-breadcrumbs></app-breadcrumbs> 
                <div class="container">
                   
                    <app-sup-search></app-sup-search>
                    <div class="table-responsive">
                        <table class="main-table mange-member table table-bordered text-center" BORDERCOLOR=RED>
                            <tr>
                                <td class="name">Name</td>
                                <td class="country">Country</td>
                                <td class="city">City</td>
                                <td class="place">Place</td>
                                <td class="options">Options</td>
                            </tr>
                            <tr>
                                <td>
                                    <h4 class="h4-intable">Ahmed Hashem Ali</h4> 
                                    <h5 class="phone-u-h4">01017737621</h5>
                                   
                                </td>
                                <td>
                                    <span>United Arab Emirates</span> 
                                </td>
                                <td>
                                    <span>Ajman</span>
                                </td>
                                <td>
                                    <span>Alnaamea</span>
                                </td>
                                <td>
                                    <a href="#" routerLink='/EditSitesSupervisors' class="edit-option">
                                        <i class="far fa-edit"></i>Edit
                                    </a>
                                </td>
                          </tr>	

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





