.copyright{
    background-color: #747d8c;
    overflow: hidden;
    p{
        font-size: 14px;
        margin-bottom: 0;
        padding: 25px;
        color: #EEE;
        a{
            color: #EEE;
        }
       
    }
}