@import "../volunteers-report/volunteers-report.component.scss";

.container{
    .table{
        tr{
            .name{
                text-align: left;
                width: 25%;
            }
            .city{
                width: 15%;
            }
            .date{
                width: 15%;
            }
            .notes{
                width: 45%;
            }
            p{
                font-size: 14px;
                font-weight: 400;
                color: $tableRowColor;
            }
        }
    }
}