<div class="dashboard-container">
    <div class="row">
        <div class="col-md-3 side-bar">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-9 right-content"> 
            <!-- Right Panel -->
            <div id="right-panel" class="right-panel"> 
                <app-navbar></app-navbar>
                <app-breadcrumbs></app-breadcrumbs> 
                <div class="container">
                    <a href='#' routerLink='/AddCountriesCites' class='btn btn-primary top-add-button'><i class="fas fa-plus"></i>Add New Section</a>
                    <div class="table-responsive">
                        <table class="main-table mange-member table table-bordered text-center" BORDERCOLOR=RED>
                            <tr>
                                <td class="check"><input type="checkbox"></td>
                                <td class="location">Section</td>
                                <td class="option">Option</td>
                            </tr> 
                            <tr *ngFor="let country of Countries">                                
                                <td>
                                    <input 
                                        name="country"
                                        [value]="country.id" 
                                        type="checkbox"
                                        (change)="onCheckboxChange($event)" > 
                                </td> 
                                <td>
                                    <div class="country">
                                        <div class="count-head" (click)="showCities($event)">
                                            <div class="row">
                                                <div class="col-8">
                                                    <div class="c-name">
                                                        <i class="fas fa-home"></i>
                                                        <h3 class="parent-h"> {{country.name_en}}</h3>   
                                                    </div>
                                                </div>
                                                <div class="col-4">
                                                    <div class="c-status">
                                                        <span class="parent-status" *ngIf="country.active as '1' ; else disaled">
                                                            <i class="fas fa-check"></i>Enabled
                                                        </span>
                                                        <ng-template #disaled>
                                                            <span class="parent-status diss" >
                                                                <i class="fas fa-times"></i>Disabled
                                                            </span>
                                                        </ng-template>
                                                    </div>
                                                </div>      
                                            </div>
                                        </div>
                                        <div class="citiess text-left" *ngFor="let city of country.cities"  >
                                            <li>
                                                <div class="row">
                                                    <div class="col-7">
                                                        <div class="city-name">
                                                            <i class="fas fa-location-arrow"></i>
                                                            <h6>{{city.name_en}}</h6>
                                                        </div>
                                                    </div>
                                                    <div class="col-5">
                                                        <div class="optionss">
                                                            <button class="child-delete" [value]="city.id" (click)="goToDeleteCity($event)">
                                                                <i class="far fa-trash-alt"></i>Delete
                                                            </button>
                                                            <button class="child-edit" [value]="city.id"  (click)="goToEditCity($event)">
                                                                <i class="far fa-edit"></i>Edit
                                                            </button>
                                                            <span class="child-status" *ngIf="city.active as '1' ; else disaled">
                                                                <i class="fas fa-check"></i>Enabled
                                                            </span>
                                                            <ng-template #disaled>
                                                                <span class="child-status diss" >
                                                                    <i class="fas fa-times"></i>Disabled
                                                                </span>
                                                            </ng-template> 
                                                        </div> 
                                                    </div>
                                                </div>
                                            </li>
                                            <hr class="clildren-hr"> 
                                        </div>
                                    </div>  
                                </td> 
                                <td>
                                    <div class="row ed-option">
                                        <button [value]="country.id" (click)="goToEditCountry($event)" class="edit-option">
                                            <i class="far fa-edit"></i>Edit
                                        </button>
                                        <button [value]="country.id" (click)="goToDeleteCountry($event)"  class="delete-option">
                                            <i class="far fa-trash-alt"></i>Delete
                                        </button>
                                    </div>
                                    <div class="row a-option">
                                        <button [value]="country.id" *ngIf="country.active as '1' ; else active" (click)="goToChStatusCountry($event)"  class="active-option diss">
                                            <i class="fas fa-times"></i>Deny
                                        </button>
                                        <ng-template #active>
                                            <button [value]="country.id" (click)="goToChStatusCountry($event)" class="active-option diss" >
                                                <i class="fas fa-check"></i>Activate
                                            </button>
                                        </ng-template>

                                    </div>
                                   
                                    
                                </td>


                            </tr>	

                        </table>
                    </div>
                    <a href='#' class='btn btn-primary activate'><i class="fas fa-check"></i>Activate</a>
                    <a href='#' class='btn btn-primary disactivate'><i class="fas fa-times"></i>Deny</a>
                    <a href='#' class='btn btn-primary delete'><i class="far fa-trash-alt"></i>Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>





