<div class="dashboard-container">
    <div class="row">
        <div class="col-md-3 side-bar">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-9 right-content">
            <!-- Right Panel -->
            <div id="right-panel" class="right-panel">
                <app-navbar></app-navbar>
                <app-breadcrumbs></app-breadcrumbs> 
                <div class="container">
                    <div class="card text-center">
                        <div class="card-header">
                          <h3>EDIT SECTION</h3>
                          <div class="close" (click)="goback()">
                              <span>x</span>
                          </div>
                        </div>
                        <form [formGroup]="EditCounCityForm" (ngSubmit)="onSubmit()">
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <tr class="section-type">
                                        <td class="title">Section Type</td>
                                        <td class="data">
                                            <div class="form-group select-agency-group">
                                                <select name="type" class="select-section" formControlName="type"
                                                    [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
                                                    <option selected disabled value="null">--Choose--</option>
                                                    <option value="main">Main Section</option>
                                                    <option value="sub">Sub Section</option>
                                                </select>
                                                <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
                                                    <div *ngIf="f.type.errors.required">type is required</div>
                                                </div>  
                                                <div class="country">
                                                    <label class="Registeration-lable" for="validationTooltip04">
                                                        Country :
                                                    </label>
                                                    <select name="country_id" class="select-country"formControlName="country_id"
                                                     >  
                                                        <option disabled [ngValue]="null"> -- Country --</option>
                                                        <option *ngFor = " let country of Countries" [ngValue]="country.id">{{country.name_en}}</option>
                                                    </select>
                                                   
                                                </div>   
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="title">Section Name</td>
                                        <td class="data">
                                            <div class="form-group">
                                                <div class="english">
                                                    <label class="refer">
                                                        <img src="../../../assets/images/englishflag.png" alt="english flag" width="100%" height="100%">
                                                    </label>
                                                    <input 
                                                        type="text" 
                                                        class="form-control" 
                                                        name="name_en" 
                                                        formControlName="name_en"
                                                        [ngClass]="{ 'is-invalid': submitted && f.name_en.errors }"
                                                        placeholder="Enter The Name In English">
                                                    <div *ngIf="submitted && f.name_en.errors" class="invalid-feedback">
                                                        <div *ngIf="f.name_en.errors.required">Name is required</div>
                                                        <div *ngIf="f.name_en.errors.minlength">Name must be at least 3 characters</div>
                                                    </div>
                                                </div>
                                            </div>
                                           
                                            <div class="form-group">
                                                <div class="arabic">
                                                    <label class="refer">
                                                        <img src="../../../assets/images/Arabic-Language-Flag.svg" alt="english flag" width="100%" height="100%">
                                                    </label>
                                                    <input 
                                                        type="text" 
                                                        class="form-control" 
                                                        name="name_ar" 
                                                        formControlName="name_ar"
                                                        [ngClass]="{ 'is-invalid': submitted && f.name_ar.errors }"
                                                        placeholder="Enter The Name In Arabic">
                                                    <div *ngIf="submitted && f.name_ar.errors" class="invalid-feedback">
                                                        <div *ngIf="f.name_ar.errors.required">Name is required</div>
                                                        <div *ngIf="f.name_ar.errors.minlength">Name must be at least 3 characters</div>
                                                    </div>    
                                                </div>
                                            </div>                  
                                        </td>
                                    </tr>
                                    <tr class="image-row">
                                        <td class="title">Image</td>
                                        <td class="data">
                                            <div class="form-group">
                                                <input 
                                                    type="file"
                                                    (change)="getFiles($event)" 
                                                    name="image"
                                                    formControlName="image" 
                                                    id="file" 
                                                    class="inputfile chooseImage" 
                                                    [ngClass]="{ 'is-invalid': submitted && f.image.errors }"/>
                                                <label class="uploade-image" for="file"> <i class="fas fa-upload"></i>Choose a file</label>
                                                <div *ngIf="submitted && f.image.errors" class="invalid-feedback">
                                                    <div *ngIf="f.image.errors.required">Image is required</div>
                                                </div> 
                                            </div>
                                           
                                        </td>
                                    </tr>
                                    <tr class="phone-code-row">
                                        <td class="title">Phone Code</td>
                                        <td class="data">
                                            <div class="form-group">
                                                <input 
                                                    type="text" 
                                                    class="form-control phoneCode" 
                                                    name="phone_code" 
                                                    formControlName="phone_code"
                                                    [ngClass]="{ 'is-invalid': submitted && f.phone_code.errors }"
                                                    placeholder="Country Phone Code">
                                                <div *ngIf="submitted && f.phone_code.errors" class="invalid-feedback">
                                                    <div *ngIf="f.phone_code.errors.required">Phone Code is required</div>
                                                    <div *ngIf="f.phone_code.errors.minlength">Phone Code must be at least 2 characters</div>
                                                </div>   
                                            </div> 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="title">Active</td>
                                        <td class="data">
                                            <div class="status">
                                                <input  type="radio" id="yes" name="status" value="yes" (change)="radioChangeHandeler($event)">
                                                <label for="yes">Yes</label>
                                                <input  type="radio" id="no" name="status" value="no" (change)="radioChangeHandeler($event)">
                                                <label for="no">No</label> 
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                           
                                <div class="card-footer text-muted">
                                    <button type="submit" class='btn btn-primary save-button'><i class="far fa-save"></i>Save</button>
                                </div>
                          
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





